
Game/obj/Debug/net6.0/Game.assets.cache
Game/obj/Debug/net6.0/Game.GeneratedMSBuildEditorConfig.editorconfig
Game/obj/Game.csproj.nuget.dgspec.json
Game/obj/Game.csproj.nuget.g.props
Game/obj/project.assets.json
Game/obj/project.nuget.cache
Game/obj/project.packagespec.json
Game/obj/rider.project.restore.info
